/* style.css */

body {
    font-family: fantasy;
    background-color: #24b3cf;
}

.myform {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.myform h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.myform label {
    display: block;
    margin-bottom: 10px;
}

.myform input[type="text"],
.myform input[type="tel"],
.myform input[type="email"],
.myform input[type="date"],
.myform textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.myform select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.myform textarea {
    resize: vertical;
}

.myform .m-3 {
    margin-bottom: 20px;
}

.myform button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--bs-blue);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.myform button:hover {
    background-color: #08449d;
}

#errors {
    margin-bottom: 20px;
}

#form-success {
    margin-bottom: 20px;
}

.btn-success {
    --bs-btn-color: #fff;
    --bs-btn-bg: #08449d;
    --bs-btn-border-color: #08449d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #08449d;
    --bs-btn-hover-border-color: #08449d;
    --bs-btn-focus-shadow-rgb: 60, 153, 110;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #08449d;
    --bs-btn-active-border-color: #08449d;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #08449d;
    --bs-btn-disabled-border-color: #08449d;
}